
$primary: #D9D9D9;
$secondary: #2400FF;

@import "../../node_modules/bootstrap/scss/bootstrap";


.navbar-brand {
    font-size: 2rem;
}

.navbar{
    padding: 0 0
}

.active {
    color: white !important;
    background-color: #2400FF;
}