@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";


.active {
    background-color: $secondary;
}

/* .card {
    min-width: 30rem;
} */

.media {
        height: auto;
        max-height: 250px;
        width: auto;
        max-width: 250px;
      }


